{:min-bb-version "1.0.0"
 :paths ["src" "test"]
 :deps {org.clojure/tools.namespace {:mvn/version "1.5.0"}}
 :tasks
 {test
  {:doc "Run tests"
   :task (let [test-files (filter (fn [f] 
                                    (and (.isFile f)
                                         (.endsWith (.getName f) "_test.clj")))
                                  (file-seq (clojure.java.io/file "test")))
               test-namespaces (map (fn [f]
                                      (-> (.getPath f)
                                          (clojure.string/replace (re-pattern "^test/") "")
                                          (clojure.string/replace (re-pattern "\\.clj$") "")
                                          (clojure.string/replace (re-pattern "/") ".")
                                          (clojure.string/replace (re-pattern "_") "-")
                                          symbol))
                                    test-files)]
           (doseq [ns test-namespaces]
             (try 
               (require ns)
               (catch Exception e 
                 (println (str "Warning: Could not load " ns ": " (.getMessage e))))))
           (let [summary (clojure.test/run-all-tests (re-pattern "clojure-practice\\..*-test"))]
             (when (or (pos? (:fail summary)) (pos? (:error summary)))
               (System/exit 1))))}}

  bb-repl
  {:doc "Start REPL with namespace tools"
   :override-builtin true
   :task (do
           (require 'clojure-practice.core)
           (in-ns 'clojure-practice.core)
           (clojure.main/repl))}

  bb-run
  {:doc "Run the main namespace"
   :override-builtin true
   :task (do
           (require 'clojure-practice.core)
           (clojure-practice.core/-main))}

  -main
  {:doc "Run the main namespace (alias)"
   :task (run-task 'bb-run)}}}
